@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 65%;
}

body {
  font-size: 1.6rem;
}

.container-fluid {
  max-width: 85%;
}

.bg {
  background-color: #F0F8FF;
}

.section {
  padding: 5rem 0;
}

h1.custom-h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  padding-top: 3rem;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1.5rem;
}

h3 {
  margin-bottom: 2rem;
}

p.para {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 auto 2rem;
  color: #1E1E1E;
}

/* Navbar  */
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background-color: #F0F8FF !important;
  margin: 0 auto;
}

.navbar-brand {
  font-family: 'times new roman, serif';
  font-size: 2.5rem;
  color: #1E1E1E;
}

.navbar-collapse {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 2rem;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 0.3rem;
  width: 100%;
  background: #1E1E1E;
  border-radius: 0.1rem;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0;

}

.navbar-toggler .top-bar {
  margin-top: 0;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  margin: 0;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

a.my-cv {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #0000FF;
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
  border: 1px solid #0000FF;
  border-radius: .5rem;
  background-color: #F0F8FF !important;
}

a.my-cv:hover {
  background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%);
  color: #ffffff;
  font-weight: 600;
  border: 1px solid #ffffff;
  transition: all 1s ease-in-out;
}

/* Home */
.home {
  margin-top: 80px;
}

first-section {
  background-color: #F0F8FF;
  padding-top: 9rem;
}

.intro {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: #0000FF;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Montserrat';
  line-height: 2rem;
}

.intro .hi {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1rem;
  color: #1E1E1E;
}

.intro .my-name {
  font-family: 'times new roman, serif';
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.5rem;
  color: #1E1E1E;
}

.intro .slogun {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  margin: 0 auto 2rem;
  color: #1E1E1E;
}

.intro .my-name span {
  color: #0000FF;
}

.home__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin: 0 auto 28px;
  position: relative;
}

.home__picture {
  width: 75%;
  transform: scale(1.5);
  padding-top: 8px;
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeBtn,
.custom-btn {
  text-decoration: none;
  font-family: 'Montserrat';
  line-height: 3.2rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Montserrat';
  border-radius: 2rem;
  padding: 1.2rem 1.6rem;
  transition: background-color 0.3s ease;
}

.homeBtn {
  background: #0000FF;
  margin-right: 2rem;
}

.homeBtn:hover {
  background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%) !important;
  color: #ffffff;
  font-weight: 500;
}

@keyframes animatedGradient {
  0% {
    background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%);
  }

  25% {
    background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%);
  }

  50% {
    background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%);
  }

  75% {
    background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%);
  }

  100% {
    background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%);
  }
}

/* project */
.second-section {
  background: #ffffff;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  width: 400px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(218, 218, 218);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid rgb(218, 218, 218);
}

.project-info {
  padding: 20px;
}

.project-category {
  font-size: 14px;
  color: #888;
}

.project-title {
  margin-top: 10px;
  font-size: 15px;
}

.more-details {
  display: block;
  margin-top: 10px;
  color: #0000FF;
  text-decoration: none;
  font-weight: bold;
}

.more-details:hover {
  color: #0000FF;
}

/* Resume */
.resume-item img {
  width: 10%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.resume-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.resume-section {
  max-width: 400px;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #F0F8FF;
  border: 2px solid rgb(218, 218, 218);
  margin: 2rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume-section:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.resume-item h3 {
  font-size: 1, 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.resume-item p {
  font-size: 1.2rem;
  color: #555;
}

.resume-item button {
  background-color: #0000FF;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat';
}

.resume-item button:hover {
  background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%) !important;
  color: #ffffff;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .resume-item h3,
  .resume-item p {
    text-align: left;
  }
}

.items {
  display: grid;
  margin: 2rem auto;
  border: 2px solid rgb(218, 218, 218);
  transition: all .4s ease-in-out;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 25px 25px 25px 25px;
  place-items: center;
  grid-gap: 10px;
  margin: 20px;
  padding: 20px;
}

.items:hover {
  transform: scale(1.1);
}

.items img {
  width: 5.5rem;
  place-items: centre;
}

.items p {
  font-weight: 400;
}

.skill {
  width: 250px;
}

.skills {
  display: grid;
  justify-items: center;
  grid-gap: 4px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 1024px) {
  .skills {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 767px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

/* ----------cta-------- */
.pos-relative {
  position: relative;
}

.pos-relative img {
  position: absolute;
  width: 200px;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}

/* About */

.img-sec img {
  width: 350px;
}

.About-section .homeBtn {
  text-decoration: none;
  font-family: 'Montserrat';
  line-height: 3.2rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #ffffff;
  background: #0000FF;
  border-radius: 2rem;
  padding: 10px 20px;
  margin-right: 2rem;
  cursor: pointer;
}

.About-section .homeBtn:hover {
  background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%) !important;
  ;
  color: #ffffff;
  font-weight: 500;
}

.custom-section {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.custom-btn-group button {
  margin-right: 20px;
}

.custom-section h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: inline-block;
}

.custom-section p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #666;
}

.custom-section ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1rem;
  color: #666;
}

.custom-section ul li {
  margin-bottom: 5px;
  display: list-item;
}

.custom-section ul ul {
  list-style-type: circle;
  margin-left: 20px;
  font-size: 1rem;
  color: #666;
}

.custom-section ul ul li {
  margin-bottom: 5px;
  display: list-item;
}

.custom-btn-group {
  margin-top: 20px;
}

.custom-btn {
  background-color: #0000FF;
  color: #ffffff;
  border-radius: 2rem;
  padding: 3px 15px;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat';
}

.custom-btn:hover {
  background-color: #0000FF;
  border-color: #0000FF;
}

@media only screen and (max-width: 768px) {

  .custom-section h4,
  .custom-section p {
    display: block;
    text-align: left;
  }

  .custom-section ul li,
  .custom-section ul ul li {
    padding-left: 20px;
  }

  .custom-btn {
    margin-top: 10px !important;
  }

  .custom-section img {
    display: block;
    margin: 10px auto !important;
  }
}

/* Contact */

.contact img {
  width: 30px;
}

.LinkedIn img {
  width: 28px;
}

.contact a {
  display: block;
  text-decoration: none;
  color: #1E1E1E;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  padding: 1.5rem 0;
}

.social-media {
  margin-top: 4rem;
}

.social-media img {
  width: 40px;
  transition: transform 300ms ease-in-out;
}

.social-media img:hover {
  transform: scale(1.2) rotate(-45deg);
}

.social-media a {
  margin: auto 1rem;
  display: inline-block;
}

.contact-section .row {
  display: flex;
}

input,
textarea,
button[type="submit"] {
  border-radius: 20px;
  background: #F0F8FF;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input:hover,
textarea:hover,
button[type="submit"]:hover {
  border-color: #0000FF;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input:focus,
textarea:focus,
button[type="submit"]:focus {
  outline: none;
  border-color: #0000FF;
}

textarea {
  width: 90%;
  height: 180px;
  text-indent: 20px;
}

input[type="text"] {
  width: 90%;
  height: 40px;
  margin: 10px auto;
}

input {
  text-indent: 20px;
}

input[type="email"] {
  width: 44%;
  height: 40px;
  margin: 10px auto;
}

input[type="number"] {
  width: 44%;
  height: 40px;
  margin: 10px auto;
}

input[type="submit"] {
  width: 90%;
  height: 40px;
  margin: 20px auto;
}

::placeholder {
  padding-left: 15px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 41px;
  color: rgba(41, 41, 41, 0.5);
}

button[type="submit"] {
  background: #0000FF;
  border: 1px solid #0000FF;
  border-radius: 20px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 41px;
  color: #ffffff;
  margin-top: 20px;
  padding: 0 15px;
}

button[type="submit"]:hover {
  background: linear-gradient(90deg, #0000FF 0%, #1E1E1E 81%) !important;
  color: rgb(255, 255, 255);
}


/* Footer*/
.text-small {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.form-control {
  font-size: 1.5rem;
  background: #F0F8FF;
  border-color: #F0F8FF;
  font-family: 'Montserrat', sans-serif;
}

footer {
  font-size: 1.5rem;
  background: #F0F8FF;
  font-family: 'Montserrat', sans-serif;
}

.list-unstyled a {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.list-unstyled a:hover {
  color: #0000FF;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #1E1E1E;
}

/*  break point at 768px */
@media screen and (max-width: 768px) {
  .card {
    align-items: center;
  }
}

@media screen and (min-width:768px) {
  .border_bottom {
    border: none;
  }
}

@media screen and (max-width:479px) {
  .skill {
    width: 160px;
  }
}

@media screen and (max-width:360px) {
  .skill {
    width: 150px;
  }
}

@media screen and (max-width:768px) {

  .border3,
  .border7,
  .border10 {
    border-left: none;
  }

  .border2 {
    border-width: 0px 0px 1px 0px;
  }

  .container-fluid {
    max-width: 95%;
  }

  body {
    text-align: center;
  }

  .navbar-brand {
    font-size: 3.2rem;
  }

  .navbar-collapse {
    padding-bottom: 2rem;

  }

  .intro {
    padding: 1rem 0;
  }

  .row {
    display: flex;
    flex-flow: column-reverse;
  }

  .first-section img {
    max-width: 15rem;
  }

  .first-section {
    padding-top: 4rem;
  }

  .title {
    display: none;
  }

  /* skills */
  .skill {
    width: 170px;
  }

  form {
    display: block;
  }
}

@media screen and (min-width:768px) and (max-width: 992px) {

  span.toggler-icon {
    display: none;
  }

  .skill {
    width: 170px;
  }

  .border_bottom {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
  }

  .borderSL,
  .border3 {
    border-right-width: none;
  }

  .border3 {
    border-left: none;
  }
}
